_   /* first for IE 4–8 */
   @font-face {
    font-family: "DINWeb-Light";
    src:  url('/assets/Roboto-Thin.eot');
  }

  body {
    font-family: DINWeb-Light, "Helvetica","Arial",sans-serif !important;
    padding-top: 5%;
    padding-bottom: 40px;
    background-color: #3F555C;
    color: #3F555C !important;
    background-size: cover;
    background-attachment: fixed;
    /*background-image: url('/assets/bodybg.jpg');*/
    
  }
  .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle !important;
    color: grey;
  }
  .w120{
     width: 290px !important;
  }
  .w90{
     width: 90px !important;
  }
  .btn 
  {
   outline:0;
   border:none;
   border-top:none;
   border-bottom:none;
   border-left:none;
   border-right:none;
 }

 .btn:focus
 {
   outline:0;
   -webkit-outline:0;
   -moz-outline:0;
 }

 .form-control:focus{
  border-color:#AD91A7 !important;
 }
 
 .fullscreen_bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url('/assets/impala.jpg');
  background-repeat:repeat;
}
.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
  margin-top:50px;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin-heading {
  color: #fff;
  text-align: center;
}

.help-block {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442 !important;
  display: block;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: 5px;
}
img {
  width: 49%;
}
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #fff; 
}
td, th { 
  padding: 6px; 
  text-align: left; 
}
.DataTables_sort_wrapper {
    color: #666;
    text-transform: uppercase;
    text-align: center;
}
/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  tr { border: 1px solid #ccc; }
  
  td { 
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee; 
    position: relative;
    padding-left: 50%; 
  }
  
  td:before { 
    top: 6px;
    left: 6px;
    width: 45%; 
    padding-right: 10px; 
    white-space: nowrap;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Origen:"; }
  td:nth-of-type(2):before { content: "Destino:"; }
  td:nth-of-type(3):before { content: "Producto:"; }
  td:nth-of-type(4):before { content: "Volumen:"; }
  td:nth-of-type(5):before { content: "Fecha Inicio Servicio:"; }
  td:nth-of-type(6):before { content: "Fecha Fin Servicio:"; }
  td:nth-of-type(7):before { content: "Fecha Inicio Oferta:"; }
  td:nth-of-type(8):before { content: "Fecha Fin Oferta:"; }
  td:nth-of-type(9):before { content: "Carga Liquida:"; }
  td:nth-of-type(10):before { content: "Cantainer:"; }
  td:nth-of-type(11):before { content: "Carga General:"; }
  td:nth-of-type(12):before { content: "Carga de compensacion:"; }
  td:nth-of-type(13):before { content: "Tipo Oferta:"; }
  td:nth-of-type(14):before { content: "Unidad:"; }
   td:nth-of-type(15):before { content: "Precio:"; }
}
#title_bar {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #e6e6e6 #d4d4d4 #eee;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    box-sizing: border-box;
    color: #5e6469;
    display: table;
    font-size: 1em;
    font-weight: bold;
    line-height: 18px;
    margin: 0;
    padding: 10px 30px;
    position: relative;
    text-shadow: 0 1px 0 white;
    width: 100%;
    z-index: 800;
}
.badge {
    float: right;
}
a:hover {
    background-color: transparent;
}

tr{
  cursor: pointer !important;
}

.clickable{
        cursor: pointer;   
    }
.wisteria-flat-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #8e44ad;
    border-color: -moz-use-text-color -moz-use-text-color #80399d;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 2px;
    box-shadow: 0 -2px #80399d inset;
    color: white;
    cursor: pointer;
    font-size: 22px;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    vertical-align: top;
    width: 5%;
}


.filterrific-periodically-observed{ 
  background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    display: block;
    font-size: 14px;
    height: 34px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;}

.is-countdown{
  border: medium none !important;
  background-color: transparent;
}

.glyphicon.glyphicon-trash:hover {
    color: red !important;
}

.col-xs-3 > .fa {
    font-size: 3em;
}
ul li{
  display: inline;
}


.fa.fa-bookmark {
    margin-right: 5px !important;
}

.centered-form{
  margin-top: 60px;
}

.centered-form .panel{
  background: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;
}
.textare_w100 {
    width: 100%;
}

.btn-info {
  color: #fff !important;
}
.plus {
    float: right;
    font-size: 1.5em !important;
    cursor: pointer;
    margin-left: 5px;
}
.bold{
  font-weight: bold;
}

.btn_white{color: #fff !important;}