<%if @measures.errors.any? %>
	$('.errors').append('<div class="alert alert-danger" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> <%= @product.errors.full_messages.to_sentence%></div>');
<%else%>
	$('.errors').append('<div class="alert alert-success" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><strong> Se ha creado su nueva producto </strong></div>');
	$('#measure_unit').val(" ")
<%end%>
