<div class="page-header">
	<ol class="breadcrumb">
		<li class="active">
			<i class="fa fa-calculator"></i> 
			<%= t('.head')%>
		</li>
	</ol>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3><strong> Und. Medida No.<%= @measure.id%></strong> </h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-lg-12">
						<%= render 'form'%>
					</div>
     			</div>
			</div>
		</div>
	</div>
</div>
